.obsical-date-fields-heading {
    padding-bottom: 0;
}
.obsical-create-calendar .obsical-date-fields {
    padding-top: 0;
}
.obsical-date-fields {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.75rem;
}

.obsical-date-fields .obsical-date-field {
    display: flex;
    flex-flow: column nowrap;
}
